<div class="productDetail">
  <h2>
    <%= @product.title %>
  </h2>
  <p class="productImg">
      <%= image_tag("/upload/#{@product.image_url}") %>
  </p>
  
  <h3>Description:</h3>
  <p>
    <%= @product.description %>
  </p>

  <p class="price">
    <b>Price:</b>
    <span><%= number_to_currency @product.price %></span>
    <%= button_to "Add to cart", line_items_path(product_id: @product.id), remote:true %>
  </p>
  <p>
    <b>Categery:</b>  <%= link_to @product.subcategory.category.name %> > <%= link_to @product.subcategory.name %> 
  </p>
</div>

<p>
  <b>Share:</b>
  <a>
    <script type="text/javascript" src="http://widget.renren.com/js/rrshare.js"></script>
      <a name="xn_share" onclick="shareClick()" type="icon_medium" href="javascript:;"></a>
      <script type="text/javascript">
        function shareClick() {
          var rrShareParam = {
            resourceUrl : '', //分享的资源Url
            srcUrl : '',  //分享的资源来源Url,默认为header中的Referer,如果分享失败可以调整此值为resourceUrl试试
            pic : '',   //分享的主题图片Url
            title : '',   //分享的标题
            description : ''  //分享的详细描述
          };
          rrShareOnclick(rrShareParam);
        }
      </script>
  </a>

  <a>
    <script type="text/javascript" charset="utf-8">
      (function(){
        var _w = 24 , _h = 24;
        var param = {
          url:location.href,
          type:'2',
          count:'', /**是否显示分享数，1显示(可选)*/
          appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
          title:'我在看到这本书，觉得不错，分享给你们，嘿嘿~', /**分享的文字内容(可选，默认为所在页面的title)*/
          pic:'', /**分享图片的路径(可选)*/
          ralateUid:'3671936945', /**关联用户的UID，分享微博会@该用户(可选)*/
          language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
          dpc:1
        }
        var temp = [];
        for( var p in param ){
          temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
        }
        document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://service.weibo.com/staticjs/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
      })()
  </script>
  </a>
</p>

<h2><%= t('.Comment') %></h2>
<div id="comments">
  <% @comments.each do |comment| %>
  <div class="comment">
    <table class="comment_lists">
    <tr>
      <td>Score:</td>
      <td>
        <% comment.score.times do %>
        *
        <% end %>
      </td>
    </tr>

    <tr>
      <td>Title:</td>
      <td><%= comment.title %></td>
    </tr>

    <tr>
      <td>Review:</b>
      <td><%= comment.review %></td>
    </tr>
    </table>
    <hr/>
  </div>
  <% end %>
</div>
<%= form_for @comment, remote: true do |f| %>
  <div class="field">
    <%= f.label t('.Title')%>：<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t('.Review') %>：<br />
    <%= f.text_area  :review , rows: 3,  cols: 40 %>
    <%= @comment.title %>
  </div>
  <div class="field">
    <%= f.label t('.Score') %>：<br />
    <%= f.select :score,[1,2,3,4,5], {:selected => "3"} %>
  </div>

  <div class="actions">
    <input type="hidden" name= "comment[product_id]" value=<%= " #{ @product.id}" %>/>
    <%=submit_tag t('.Submit') %>
  </div>

<%end%>




