<!DOCTYPE html>
<html>
<head>
  <title>Progprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
  <%= form_tag store_path, class: 'locale' do %>
    <%= select_tag 'set_locale', options_for_select(LANGUAGES,I18n.locale.to_s),
    onchange: 'this.form.submit()' %>
    <%= submit_tag 'submit'%>
    <%= javascript_tag "$('.locale input').hide()" %>
  <% end %>
  <%= image_tag("logo.png")%>
  <%= @page_title || t('.title') %>
</div>
<div id="columns">
  <div id="side">
    <% if @cart and params[:controller] != "carts"%>
      <%= hidden_div_if(@cart.line_items.empty?, :id=>"cart") do %>
        <%= render @cart %>
      <% end %>
    <% end %>

    <ul>
      <li><a href="/"><%= t('.home') %></a></li>
      <li><a href="/"><%= t('.questions') %></a></li>
      <li><a href="/"><%= t('.news') %></a></li>
      <li><a href="/"><%= t('.contact') %></a></li>
    </ul>

    <% if session[:user_id] and session[:user_type] == 0 %>
      <h3>Admin</h3>
      <ul>
        <li><%= link_to t('.orders'), orders_path %></li>
        <li><%= link_to t('.products'), products_path %></li>
        <li><%= link_to t('.users'), users_path %></li>
      </ul>
      <%= button_to t('.logout'), logout_path, method: :delete %>
    <%elsif session[:user_id] and session[:user_type] == 1 %>
      <ul>
        <li><%= link_to t('.cart'), carts_path %></li>
        <li><%= link_to t('.orders'), orders_path %></li>
        <li><%= link_to t('.users'), users_path %></li>
      </ul>
      <%= button_to t('.logout'), logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path, class:"button" %>    
      <%= link_to "Sign Up", new_user_path, class:"button" %>    
    <% end %>

    <br/>
    <br/>
    <script type="text/javascript">
    document.write('<iframe width="130" height="220" frameborder="0" scrolling="no" src="http://widget.weibo.com/relationship/bulkfollow.php?language=zh_cn&uids=3671936945&wide=1&color=141,141,8587F4,FFF200&showtitle=1&showinfo=1&sense=0&verified=1&count=1&refer='+encodeURIComponent(location.href)+'&dpc=1"></iframe>')
    </script>
    <br/>
    <br/>
    <script type="text/javascript">
    document.write('<iframe width="260" height="200" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=3&isTitle=1&noborder=0&isWeibo=1&isFans=0&uid=3671936945&verifier=5cb21f6a&colors=141,141,fff200,0082cb,000000&dpc=1"></iframe>')
    </script>
    <br/>
    <br/>

  </div>
  <div id="main">
    <%= yield %>
  </div>

</div>

</body>
</html>
