<!DOCTYPE html>
<html>
<head>
  <title>Progprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div id="banner">
  <div id="bannerContainner">


    <%= form_tag store_path, class: 'locale' do %>
      <%= select_tag 'set_locale', options_for_select(LANGUAGES,I18n.locale.to_s),
      onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit'%>
      <%= javascript_tag "$('.locale input').hide()" %>
    <% end %>

    <div id="user">
      <% if session[:user_id] and session[:user_type] == 0 %>
        <ul class="admin">
          <li><%= link_to t('.logout'), logout_path, method: :delete %></li>
          <li><%= link_to t('.orders'), orders_path %></li>
          <li><%= link_to t('.products'), products_path %></li>
          <li><%= link_to t('.users'), users_path %></li>
          <li><span>Hi, <%= User.find(session[:user_id]).name%>, welcome to booksheft</span> </li>
        </ul>
      <%elsif session[:user_id] and session[:user_type] == 1 %>
        <ul class= "user">
          <li><%= link_to 'Cart', carts_path %></li>
          <li><%= link_to 'Orders', orders_path %></li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
        <%= button_to t('.logout'), logout_path, method: :delete %>
      <% else %>
        <div class="noLogin">
          <%= button_to "Login", login_path, class:"button" %>    
          <%= button_to "Sign Up", new_user_path, class:"button" %>          
        </div>    
      <% end %>
      </div>
    <div class="clear"></div> 
    
    <div id="logo">
      <a href="/"><%= @page_title || t('.title') %></a>
    </div>
    <form id="search" action="/store" method="get">
      <input type="search" name="search" />
      <input type="submit" value="Search">
    </form>

  </div>
</div>
<div id="columns">
<!--    <div id="side">


    <ul>
      <li><a href="/"><%= t('.home') %></a></li>
      <li><a href="/"><%= t('.questions') %></a></li>
      <li><a href="/"><%= t('.news') %></a></li>
      <li><a href="/"><%= t('.contact') %></a></li>
    </ul>

    <% if session[:user_id] and session[:user_type] == 0 %>
      <h3>Admin</h3>
      <ul>
        <li><%= link_to t('.orders'), orders_path %></li>
        <li><%= link_to t('.products'), products_path %></li>
        <li><%= link_to t('.users'), users_path %></li>
      </ul>
      <%= button_to t('.logout'), logout_path, method: :delete %>
    <%elsif session[:user_id] and session[:user_type] == 1 %>
      <ul>
        <li><%= link_to 'Cart', carts_path %></li>
        <li><%= link_to 'Orders', orders_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
      <%= button_to t('.logout'), logout_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path, class:"button" %>    
      <%= link_to "Sign Up", new_user_path, class:"button" %>    
    <% end %>
  </div> -->
  <div id="main">
    <%= yield %>
  </div>
  <%= render file: "layouts/side.html.erb"%>
  <div class="clear"></div>
</div>

</body>
</html>
